form {
  display: flex;
  flex-direction: column-reverse;
  gap: 15px;
  max-width: 600px;
  margin: 30px auto;
}

h1 {
  text-align: justify;
  color: #00ffff;
}

label {
  font-weight: lighter;
}

input, textarea {
  padding: 13px;
  border: 2px solid #363434;
  border-radius: 8px;
}

textarea {
  resize: horizontal;
  min-height: 200px;
}

button {
  padding: 20px;
  background-color: #48ff00;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #00ff62;
}

p {
  color: #ff0000;
  font-weight: lighter;
  margin-top: 20px;
}